@use "./scss/" as *;

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  
  // overflow-x: hidden;
  // border: 1px solid red
  z-index: 100000000;
  // box-shadow: 0 12px 12px -12px rgb(255, 0, 0);
}

.white-header{
  background-color: $white-color;
  transition: 0.3s ease-in;

}

.dark-header{
  background-color: $main-color;
  transition: 0.3s ease-in;
}

.shadow-header {
  box-shadow: 0 0 15px 0 rgb(196, 195, 195);
}
nav {
  padding: 0 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  // background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.logo-wrapper {
  width: 20vw;
  height: 100%;
  margin-top: 2%;
  // background-image: url('../../asset/logo.svg');
  // border: 1px solid red;
  @include mobile{
    width: 90%;
  }
}
a {
  text-decoration: none;
}

.logo {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  // border: 1px solid blue;
  @include mobile{
    width: 60vw;
  }
  cursor: pointer;
  // border: 1px solid red;
  // width: 20%;
}

.nav-links {
  
  // background-color: red;
  // border: 1px solid red;
  list-style: none;
  width: 50vw;
  margin-left: auto;
  @include mobile{
    font-size: 2vw;

  }
  .links {
 
    @include flex(space-around, center);
    width: 100%;
    @include mobile{
      width: 85%;
    }
  }
}

.nav-links a {
  z-index: 99999999;
  /* Principal Attorney */

width: 14.31vw;
height: 3vw;
font-family: 'Mukta', sans-serif;
// font-family: 'Mukta';
font-style: normal;
font-weight: 500;
font-size: 0.78125vw;
line-height: 3.50vw;
text-align: center;
text-transform: uppercase;



  
  @include mobile{
    color: #c5c5c5;
  }
}

.nav-links .white-link{
  color: $white-color;
}

.nav-links .dark-link{
  font-size: .9vw;
  color: $main-color;
}

.nav-links .brown-link{
  font-size: .9vw;
  color: $main-color;
  @include mobile{
    color: $light-color;
  }
}

.nav-links .white-link:hover{
  color: #ffffff;
  transition: 0.3s ease;
  text-decoration: none;
}


.nav-links .dark-link:hover {
  color: #000000;
  transition: 0.3s ease;
  text-decoration: none;
}

.burger {
  cursor: pointer;
  display: none;
  // margin-right: -15%;
}


.burger div {
  width: 25px;
  height: 2px;
  margin: 10px;
}

.white-burger div{
  background-color: $main-color;
}

.dark-burger div{
  background-color: $white-color;
}

@media (max-width: 1024px) {
  .nav-links {
    width: 100%;
    // border: 1px solid red;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 11vh;
    opacity:.92;
    background-color: $main-color;
    // @include flex("", "");
    // flex-direction: row;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    .links {
      height: 80%;

      // border: 1px solid red;
      border-bottom: 2px solid $white-color;
      position: static;
      top: 0;
      flex-direction: column;
      padding-bottom: 5%;
      padding-left: -1%;
      // @include flex("center","center")
      li {
        height: 10%;
        // width: 80%;
        // border: 1px solid red;
        margin-bottom: -10vw;
        
        a {
          // border: 1  px solid red;
          letter-spacing: 0.7vw;
          font-size:5.5vw;
          z-index: 9999999;
          font-weight: 600;
        }
      }
    }
  }
  
  .burger {
    display: block;
  }
}

.links{
  a{
    cursor: pointer;

  }
}
.social-media-mobile{
  width: 100%;
  height: 40%;
  display: none;

  // border: 1px solid red;
  @include mobile{
    display: block;
  }
  svg{
    margin-top: 2vh;
    margin-left: 1vw;
    color: $light-color;
    border-radius: 2vw;
    width: 8vw;

  }
  .icon{
    font-size: 10vw;
    margin: 1%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar {
  background: transparent;
  transition: 0.3s ease-in;
  color: white;
}

@media (max-width: 768px) {
  nav {
    background: $main-color;
    transition: 0.3s ease-in;
    color: white;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-3px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-3px, -6px);
}

.social-media {
  width: 5vw;
  height: 100%;
  font-size: 1.5vw;
  margin-right: -5%;
  margin-left: 10%;
  margin-bottom: 1%;
  @include flex(space-around, center);
  // border: 1px solid red;

  cursor: pointer;
  @include mobile {
    display: none;
  }
}


.white-social-media{
  color: $white-color;
}
.dark-social-media{
  color: $main-color;
svg{
border-radius: 4vw;
}
}



