@use "./scss/" as *;

.header {
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: transparent;
  // overflow-x: hidden;
  // border: 1px solid red
  z-index: 100000000;
  // box-shadow: 0 12px 12px -12px rgb(255, 0, 0);
}
nav {
  padding: 0 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  // background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.logo-wrapper {
  width: 20vw;
  height: 100%;
  margin-top: 2%;
  // background-image: url('../../asset/logo.svg');
  // border: 1px solid red;
  @include mobile{
    width: 90%;
  }
}
a {
  text-decoration: none;
}

.logo {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  // border: 1px solid blue;
  @include mobile{
    width: 70vw;
  }
  cursor: pointer;
  // border: 1px solid red;
  // width: 20%;
}

.nav-links {
  
  // background-color: red;
  // border: 1px solid red;
  list-style: none;
  width: 45vw;
  margin-left: auto;
  .links {
    @include flex(space-around, center);
    width: 100%;
  }
}

.nav-links a {
  z-index: 10002000000000000000;
  /* Principal Attorney */

width: 7.31rem;
height: 1.06rem;
font-family: 'Mukta', sans-serif;
// font-family: 'Mukta';
font-style: normal;
font-weight: 500;
font-size: 0.78125vw;
line-height: 2.50rem;
text-align: center;
text-transform: uppercase;

color: $main-color;

  
  @include mobile{
    color: #c5c5c5;
  }
}


.nav-links a:hover {
  color: #000000;
  transition: 0.3s ease;
  text-decoration: none;
}

.burger {
  cursor: pointer;
  display: none;
  // margin-right: -15%;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: $main-color;
  margin: 10px;
}

@media (max-width: 1024px) {
  .nav-links {
    width: 100%;
    // border: 1px solid red;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $main-color;
    // @include flex("", "");
    // flex-direction: row;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    .links {
      height: 70%;

      // border: 1px solid red;
      border-bottom: 2px solid $white-color;
      position: relative;
      top: 0;
      flex-direction: column;
      padding-bottom: 10%;
      padding-left: 10%;
      // @include flex("center","center")
      li {
        height: 20%;
        width: 100%;
        // border: 1px solid red;
        margin-bottom: -5rem;
        
        a {
          // border: 1  px solid red;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
  
  .burger {
    display: block;
  }
}

.links{
  a{
    cursor: pointer;

  }
}
.social-media-mobile{
  width: 100%;
  height: 40%;
  display: none;
  // border: 1px solid red;
  @include mobile{
    display: block;
  }
  .icon{
    font-size: 3rem;
    margin: 10%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar {
  background: transparent;
  transition: 0.3s ease-in;
  color: white;
}

@media (max-width: 768px) {
  nav {
    background: $main-color;
    transition: 0.3s ease-in;
    color: white;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-3px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-3px, -6px);
}

.social-media {
  width: 10vw;
  height: 100%;
  font-size: 1.5vw;
  margin-right: -5%;
  margin-bottom: 1%;
  @include flex(space-around, center);
  // border: 1px solid red;
  color: $main-color;
  cursor: pointer;
  @include mobile {
    display: none;
  }
}




