$main-color: #372C2E; 
$primary-color: #563727;
$secondary-color: #7A431D;
$light-color: #E1C196;
$white-color: #F5F5F5;

$mobile-width: 800px;

$ipad-width:768px;

$tablet-width: 1024px;

$desktop-width: 1440px;

$huge-width: 1920px;

