@use "./scss/" as *;

.main-wrapper{
  // border: 1px solid red;
  // position: -webkit-sticky;
  top: 0;
}
.container{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $white-color;
  background-image: url('/background.svg');
  margin: 0%;
  // overflow-y: hidden;
  // margin-bottom: 1px;
}
.wrapper {
  width: 100%;
  height: 77vh;
  position: absolute;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  padding-bottom: -15%;
  display: flex;
  justify-content: center;
  // border: 1px solid red;
}
.front {

  // border: 1px solid red;
  width: 83%;
  height: 70vh;
  margin: auto;
  display: flex;  
  align-items: center;
  justify-content: center;
  @include mobile{
    margin-right: auto;
  }

  @include mobile{
    margin: 0;
  }
  
}

.images {
  width: 100%;
  height: 70vh  ;
  overflow: hidden;
  // background-color: black;
  // border: 1px solid red;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    .img {
    display: flex;
    justify-content: center;
    width: 83%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
  }
}
.hide {
  position: absolute;
  top: 100%;
  display: none;
}

.show {
  position: absolute;
}

.titles {
  position: absolute;
  width: 80%;
  height: 100%;
  // @include flex('center','center');
  // flex-direction: column;
}

.titles div{
  margin: auto;
  // border: 1px solid red;
  height: 50%;
  width: 75%;
  
}

.hr-line{
  margin: auto;
  width: 60vw;
  height: 0;
  border: 0.5px solid #746a6c;
  position: absolute;
  z-index: 10000000;
}

.line-two{
  top: 35vh;
}
.line-three{
  top: 70vh;
}

.titles hr {
}

.titles h1 {
  
  color: $white-color;
  // border: 1px solid red;
  
}



.titles p{
  color: $white-color;
}
.normalH1{
  font-size: 5vw;
  font-weight: 600;
  width: 80%;
  // margin-bottom: -3vw;
  // border: 1px solid red;
  line-height: 5vw;
  @include mobile{
    padding-top: 10%;
    font-size: 10vw;
    width: 100%;
    line-height: 11vw;
  }
}
.smallH1{
  transition: 1s ease;
  font-size: 3.5vw;
  font-weight: 100;
  @include mobile{
    font-size: 5vw;
    width: 100%;
  }
}

.normalH3{
  color: $white-color;
  font-size: 2vw;
  line-height: 2.5vw;
  font-weight: 300;

  @include mobile{
    line-height: 7vw;
    font-size: 2rem;
  }
}
.smallH3{
  transition: 1s ease;
  font-size: 1.5vw;
  color: $white-color;
  font-weight: 100;
  @include mobile{
    line-height:5vw;
    font-size: 4vw;
  }
}

.titles .hideP{
  position: absolute;
  // color: red;
  display: none; 
}

.titles .showP{
  
  // color: blue;
  display: flex;
  transition: 3s ease-in-out;
}













.blocks{
  width: 100vw;
  height: 65vh;
  position: absolute;
  bottom: 0;
  // border: 1px solid red;
  display: flex;
  justify-content: center;

  
  
  
}

.block{
  position: absolute;
  bottom: 0;
  margin: auto;
  color: $white-color;
  p{
    float: left;
    font-size: 0.8vw;
    font-weight: 500;
    margin-top: 1%;
    writing-mode: vertical-rl; 
    cursor: pointer;
    // border: 1px solid red;
    // transform: rotate(-90deg);
  }
}


.one{
  width: 100%;
  background-color: $main-color;
  height: 25%;
}


.two{
  width: 96%;
  background-color: $primary-color;
  height: 40%;
  // left: 2%;
  @include mobile{
    margin-left: -1%;
  }
}
.three{
  width: 92%;
  background-color: $light-color;
  height: 55%;

  // border: 1px solid red;
  @include mobile{
    margin-left: -3%;
  }
}

.four{
  width: 88%;
  background-color: $secondary-color;
  height: 70%;
  // left: 6%;
  @include mobile{
    margin-left: -5%;
  }
}


.about-section{
  position: absolute;
  z-index: 10000;
  top: 10vh;
  left: -90%;
  // right: -90%;

  height: 90vh;
  width: 90%;
  // border: 1px solid red;
  background-color: $white-color;
  background-image: url('/background.svg');
  // display: none;
  padding: 2% 5%;
}

.about-section .about-wrapper{
  display: flex;    
  flex-direction: column;
}

.about-section h3{
  font-size: 1.2vw;
  margin-left: 5%;
  margin-left: 8%;
  @include mobile{
    font-size: 5vw;
  }
}

.about-section .about-main{
    // border: 1px solid red;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding-top: 2%;
    @include mobile{
      flex-direction: column;
      height: 70vh;

    }
}

.about-main p{
  width: 45%;
  font-size: 1.6vw;
  font-weight: 350;
  line-height: 2vw;
  color: $main-color;
  @include mobile{
    height: 50%;
    font-size: 4vw;
    width: 100%;
  }
  .highlight{
    color: $light-color;
  }
}

.about-main .image-section{
  height: 70%;
  // border: 1px solid red;
  width: 19.3vw;
  background-color: $light-color;
  @include mobile{
    width: 100%;
    height: 60%;
  }
}


  .about-section .link{
    display: flex;
    // border: 1px solid red;
  // float: right;
  margin-right: 4%;
  justify-content: center;
  align-items: center;
  @include mobile{
    margin-right: 0%;
  }
  cursor: pointer;
  a{
    margin-left: auto;
    color: $light-color;
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
    @include mobile{
      font-size: 4vw;
    }
  }
  .arrow{
    margin-bottom: -4%;
    // font-size: 1.8rem;
    font-size: 2.5vw;
    font-weight: 300;
    @include mobile{
      margin-top: 5%;
      font-size: 7vw;
      margin-bottom:-2.5%;
    }
  }
  }

.qualifications{
  z-index: 10;
  position: absolute;
  top: 10vh;
  right: -90%;
  height: 90vh;
  width: 90%;
  background-color: $white-color;
  padding: 3% 5%;
  background-image: url('/background.svg');
  // padding-top: 3%;
  // padding

}


.qualifications .principal{
  width: 50%;
  margin-bottom: 3%;
  @include mobile{
    width: 100%;
    margin-bottom: 10%;
  }
}
.qualifications h2{
  font-size: 1.1vw;
  text-transform: uppercase;
  display: inline;
  font-weight: 500;

  @include mobile{
    font-size: 4vw;
  }
}

.principal p{
  color: $primary-color;
  font-size: 1.2vw;
  @include mobile{
    font-size: 4.5vw;
  }
}

.qualifications .qual{
  width: 50%;
  @include mobile{
    width: 100%;
  }

}


.qual span{
  color: $primary-color;
  font-size: 1.2vw;
  font-weight: 500;
  text-transform: uppercase;
  @include mobile{
    font-size: 4.5vw;
  }
}


.qual .texts{
  width: 100%;
  // border: 1px solid red;
  // margin-top: -2%;
  p{
    font-size: 1.2vw;
    margin-bottom: 1.5vw;
    color: $secondary-color;
    font-weight: 500;
    line-height: 2vw;
    cursor: pointer;

    @include mobile{
      font-size: 4vw;
      line-height: 6vw;
      // margin-bottom: 10vw;
    }
  }
}

.qual .texts p:hover{
  font-size: 1.8vw;
    width: 100%;
    font-weight: 400;
    color: #000;
    transition: 1s ease;
    @include mobile{
      font-size: 4vw;
    }
}








/******Practice Area*********/

.practice-area{
  position: absolute;
  z-index: 1000000;
  height: 90vh;
  left: -90%;
  width: 90%;
  background-color: $white-color;
  background-image: url('/background.svg');
  
  padding: 3% 5%;
} 

.practice-area .practice-title{
    // border: 1px solid blue;
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;
    @include mobile{
      font-size: 4vw;
    }
  }

.practice-area .practice-wrapper{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // border: 1px solid red
}

.practice-area .practice{
  // border: 1px solid red;
  width: 45%;
  height: 45%;
  @include mobile{
    width: 100%;
    // height: 25%;
    // margin-bottom: 5%;
    height: auto;
  }
}

.practice .title{
  display: flex;
  width: 100%;
  // border: 1p x solid red;
  // height: 30%;
  h3{
    margin-left: 5%;
    font-weight: 350;
    font-size: 1.4vw;
    // height: fit-content;
    @include mobile{
      // font-weight: 400;
      font-size: 4vw;
    }
  }
}

.practice p{
  font-size: 1vw;
  line-height: 1.5vw;
  font-weight: 340;
  @include mobile{
    line-height: 20px;
    font-size: 3.5vw;
    margin-top: -2%;
    // border: 1px solid red;
  }
}

.practice .title .icon{
  font-size: 4.5vw;
  @include mobile{
    margin-top: 4%;
    font-size: 8vw;
  }
}

.practice-area .link, .qualifications .link{
  display: flex;
  // float: right;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  @include mobile{
    margin-top: 10%;
  }
  cursor: pointer;
  a{
    color: $light-color;
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
    @include mobile{
      font-size:3.5vw;
    }
  }
  .arrow{
    margin-bottom: -4%;
    // font-size: 1.8rem;
    font-size: 2.5vw;
    font-weight: 300;
    @include mobile{
      font-size: 7vw;
    }
  }
  
  // border: 1px solid red;
}
.qualifications .link{
  justify-content: flex-end;
  a{
    color: $primary-color;
  }
  @include mobile{
    margin-top: 10%;
  }

}



/*******CONTACT US**********/

.contact{
  position: absolute;
  z-index: 1000000;
  height: 90vh;
  width: 100%;
  bottom: -90%;
  background-color: $main-color;
  background-image: url('/background.svg');
  // opacity: 0.9;
  padding: 3% 5%;
}

.contact-wrapper{
  // border: 1px solid red;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include mobile{
    flex-direction: column;
  }
}

.contact-wrapper .title-info{
  // border: 1px solid red;
  width: 40%;
  height: 70%;
  @include mobile{
    width: 90%;
  }
}

.contact-wrapper .title-info h1{
  color: $white-color;
  font-size: 7vw;
  margin-top: -2%;
  margin-left: -1%;
  text-transform: capitalize;
  @include mobile{
    font-size: 15vw;
    margin-top: 3%;
  }
}

.contact-wrapper .title-info .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%;
  p{
    color: $white-color;
  }
  .social-media{
    margin-left: -3%;
  }
  a{
    cursor: pointer;
  }
  // align-items: center;
}

.contact-wrapper .map{
  width: 40%;
  height: 80%;
  border: 1px solid blue;
  @include mobile{
    margin-top: 5%;
    width: 90%;
  }
}

.footer{
  width: 100%;
  height: 10vh;
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  p{
    color: $light-color;
    font-size: 0.8vw;
  }
  .copyright{
    margin-bottom:-3px;
    font-size: 0.9vw;
  }
}


.explore{

  cursor: pointer;
  // border: 1px solid red;
  z-index: 1000000000000000000000000;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
}

.explore .scroll-down h3{
  color: $white-color;
  font-family: 'Mukta';
font-style: normal;
font-weight: 400;
font-size: 0.9vw;
text-transform: uppercase;
text-align: center;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-down .arrow-wrapper{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 20px;
}
