@use '../scss/' as *;

h1,h2,h3,a,p{
    font-family: "mukta";
}

.practice-page .practice-wrapper{
    width: 100%;
    padding-top: 12vh;
    background-image: url('/background.svg');
    background-color: $white-color;
    
}

.practice-wrapper .practice-front{
    width: 100%;
    padding-left: 8%;

}

.practice-wrapper .practice-main{
    // border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    @include mobile{
        height: 80vh;
        flex-direction: column;
    }
}

.practice-main .practice-text{
    width: 40%;
    height: 60%;
    // border: 1px solid red;
    @include mobile{
        width: 100%;
    }
    h1{
        @include mobile{
            font-weight: 700;
            font-size: 10vw;
        }
        font-size: 3vw;
        color: $main-color;
        font-weight: 500;
    }

    p{
        @include mobile{
            font-weight: 400;
            font-size: 5vw;
            line-height: 8vw;
        }
        font-size: 1.7vw;
        font-weight: 300;
        line-height: 2.5vw;
    }
}

.practice-image{
    width: 40%;
    margin-top: 13%;
    height: 90%;
    border: 1px solid red;
    @include mobile{
        width: 95%;
        margin-top: -2%;
        margin-right: 5%;
        height: 110%;

    }
}

.bottom-block{
    width: 100%;
    height: 18vh;
    background-color: $primary-color;
    @include mobile{
        height: 10vh;
    }
}

.practice-content{
    width: 100%;
    padding: 5% 3%
}

.single-practice{
    // border: 1px solid rgb(0, 0, 0);
    border-bottom: 0.6px solid #7A431D;
    display: flex;
    justify-content: space-between;
    // padding-right: 5%;
    cursor: pointer;
    @include mobile{
        flex-direction: column;
        justify-content: space-around;
        // height: 20vh;
    }
    .discover{
        color: $primary-color;
        display: flex;
        align-items: center;
        @include mobile{
            font-size: 3.5vw;
            width: 30%;
            margin-left: auto;
            margin-top: -3%;
            // float: right;
            // border: 1px solid red;
        }
    }
}

.single-practice .title-text{
    
    // border: 1px solid red;
    width: 80%;
    margin-top: -2%;
    @include mobile{
        width: 100%;
    }
    h1{
        font-weight: 700;
        font-size: 2.5vw;
        color: $primary-color;
        margin-top: 4%;
        @include mobile{
            font-size: 7vw;
        }
    }
    p{
        margin-top: -1%;
        font-size: 1.17vw;
        font-weight: 700;
        line-height: 2vw;
        width: 80%;
        color: $primary-color;
        @include mobile{
            font-size: 4vw;
            width: 100%;
            margin-top: -5%;
            line-height: 5vw;
        }
    }
}

.popup{
    width: 90%;
    height: 60vh;
    position: fixed;
    top: 10vh;
    left: 10vw;
    background-color: $primary-color;

    img{
        width: 400px;
        height: 400px;
        border: 1px solid red;
        z-index: 100000;
    }
}